# Tópico 03 – Análise Exploratória de Dados (EDA)

In [70]:
import pandas as pd
import seaborn

In [71]:
df = pd.read_csv('../data/dados_vendas_limpo.csv', sep=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data_Venda      100 non-null    object
 1   Produto         100 non-null    object
 2   Cidade          100 non-null    object
 3   Quantidade      100 non-null    int64
 4   Preco_Unitario  100 non-null    int64
 5   Valor_Total     100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [72]:
df['Data_Venda'] = pd.to_datetime(df['Data_Venda'])
df['Data_Venda'] = df['Data_Venda'].dt.date
df['Preco_Unitario'] = df['Preco_Unitario'].astype('float')
df['Valor_Total'] = df['Valor_Total'].astype('float')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data_Venda      100 non-null    object
 1   Produto         100 non-null    object
 2   Cidade          100 non-null    object
 3   Quantidade      100 non-null    int64
 4   Preco_Unitario  100 non-null    float64
 5   Valor_Total     100 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.8+ KB

In [74]:
df.head()

   Data_Venda     Produto     Cidade  Quantidade  Preco_Unitario  Valor_Total
0  2024-01-01       Mouse   Salvador           2          2897.0       5794.0
1  2024-01-02  Impressora  São Paulo           2          1793.0       3586.0
2  2024-01-03     Teclado  São Paulo           6          2185.0      13110.0
3  2024-01-04  Impressora  São Paulo           7          2377.0      16639.0
4  2024-01-05  Impressora  São Paulo           5           662.0       3310.0

In [75]:
df['Preco_Unitario'].describe()

count     100.000000
mean     1556.380000
std       856.608851
min       104.000000
25%       795.250000
50%      1602.000000
75%      2382.750000
max      2975.000000
Name: Preco_Unitario, dtype: float64

In [79]:
df.groupby('Cidade')['Valor_Total'].sum()

Cidade
Belo Horizonte    159273.0
Curitiba          197624.0
Rio de Janeiro     63763.0
Salvador          107453.0
São Paulo         178047.0
Name: Valor_Total, dtype: float64